[Unit]
Description=Spelling App
After=network.target

[Service]
Type=simple
User=ross
WorkingDirectory=/home/ross/Documents/Coding/2026/spelling_app
EnvironmentFile=/home/ross/Documents/Coding/2026/spelling_app/.env
ExecStart=/home/ross/Documents/Coding/2026/spelling_app/.venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
